@model IEnumerable<WebProgramlama.Models.Component>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkDatasheet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voltage) V
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>

                    <a href="@item.LinkDatasheet" download>
                    <h5>Download Datasheet</h5>
                </a>

            </td>
            <td>
                @if (item.PictureUrl != null)
                {
                        <img id="picture" style="width:60px;height:60px; object-fit:cover; border-radius:30px" src="@item.PictureUrl" alt="@item.Name">
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComponentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComponentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComponentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
